<script lang="ts" setup>
import { ref } from 'vue'

const weight = ref(0)
const height = ref(0)
const result = ref(0)

function calBMI() {
  const m = height.value / 100
  result.value = weight.value / Math.pow(m, 2)
}
</script>

<template>
  <div style="margin: auto; width: 600px; padding-top: 50px">
    <div>
      <label for="weight">น้ำหนักตัว(kg.)</label> <br />
      <input type="number" id="weight" v-model="weight" />
    </div>
    <div>
      <label for="height">ส่วนสูง(cm.)</label> <br />
      <input type="number" id="height" v-model="height" />
    </div>
    <button class="click" @click="calBMI()">คำนวน</button>
    <div class="box">
      <div style="text-align: center; font-size: 40px; margin: 20px 0">BMI</div>
      <div style="text-align: center; font-size: 40px; margin: 20px 0">{{ result.toFixed(2) }}</div>
    </div>
    <table style="font-size: 20px; width: 100%; height: 300px; margin-bottom: 100px">
      <tr>
        <th>BMI kg/m2</th>
        <th>อยู่ในเกณท์</th>
        <th>ภาวะเสี่ยงต่อโรค</th>
      </tr>
      <tr :class="{ activate: result < 18.5 && result != 0 ? true : false }">
        <td>น้อยกว่า 18.50</td>
        <td>น้ำหนักน้อย / ผอม</td>
        <td>มากกว่าคนปกติ</td>
      </tr>
      <tr :class="{ activate: result >= 18.5 && result < 23 ? true : false }">
        <td>ระหว่าง 18.50 - 22.90</td>
        <td>ปกติ (สุขภาพดี)</td>
        <td>เท่าคนปกติ</td>
      </tr>
      <tr :class="{ activate: result >= 23 && result < 25 ? true : false }">
        <td>ระหว่าง 23 - 24.90</td>
        <td>ท้วม / โรคอ้วนระดับ 1</td>
        <td>อันตรายระดับ 1</td>
      </tr>
      <tr :class="{ activate: result >= 25 && result < 30 ? true : false }">
        <td>ระหว่าง 25 - 29.90</td>
        <td>อ้วน / โรคอ้วนระดับ 2</td>
        <td>อันตรายระดับ 2</td>
      </tr>
      <tr :class="{ activate: result >= 30 ? true : false }">
        <td>มากกว่า 30</td>
        <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
        <td>อันตรายระดับ 3</td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.activate {
  background-color: #e3dde2;
}

input[type='number'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  margin: 20px 0;
}
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 25px;
}

label {
  font-size: 25px;
}

th {
  color: black;
  background: #cbb6c8;
  font-size: 20px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

td {
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}
.box {
  padding: 5px;
  margin: 40px auto;
  background-color: rgb(230, 230, 230);
  width: 70%;
  border-radius: 10px;
}
</style>
