<script setup lang="ts">

import { ref } from 'vue'

const text = ref('')
function onInput(e: any) {
 
}
</script>
<template>
  <div>
    <input type="text" v-model="text" placeholder="Type here" />
  </div>
  <div>{{ text }}</div>
</template>
<style scoped></style>
